* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #081a4b, #1f3f99);
}

.login-container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}

.login-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 32px 28px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
  text-align: center;
}

.logo-login {
  width: 220px;
  display: block;
  margin: 0 auto 18px auto;
}

.login-card h1 {
  color: #0f172a;
  margin-bottom: 8px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-weight: bold;
  color: #1f2937;
}

.form-group input {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
}

.form-group input:focus {
  border-color: #2563eb;
}

.btn-primary {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.mensaje {
  min-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* DASHBOARD */

.dashboard-body {
  margin: 0;
  background: #f4f6f8;
}

/* TOPBAR */
.topbar {
  background: #0f172a;
  color: white;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-mini {
  width: 40px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-logout {
  background: #ef4444;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn-logout:hover {
  background: #dc2626;
}

/* CONTENIDO */
.dashboard-container {
  padding: 40px;
}

/* BIENVENIDA */
.welcome-card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 30px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

/* MENÚ */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.menu-card {
  background: white;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #0f172a;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.menu-card:hover {
  transform: translateY(-5px);
  background: #eff6ff;
}

.form-group select {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  background: white;
}

.form-group select:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}